.heroContainer {
  margin-top: 30px;
  margin-left: 86px;

  h1 {
    font-size: 55px;
  }
  p {
    font-size: 22px;
    margin-top: 20px;
    font-weight: bold;
  }
  button {
    margin-top: 25px;
    margin-bottom: 70px;
    width: 248px;
    height: 65px;
    border-radius: 40px;
    border: 1px solid black;
    background-color: #2e4846;
    color: white;
    font-weight: bold;
    .joinWaitlistContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        margin-top: 0px;
        font-size: 18px;
        margin-right: 12px;
      }
    }
  }
  form {
    .inputContainer {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      .nameField,
      .emailField {
        border: 1px solid black;
        padding-left: 10px;
        border-radius: 11px;
        height: 50px;
        width: 400px;
      }
    }
    .submitButton {
      background-color: #e092b7;
      font-size: 18px;
      width: 100px;
      border-radius: 10px;
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 930px) {
  .heroContainer {
    text-align: center;
    margin-left: 0px;
    form {
      .inputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@media (max-width: 700px) {
  .heroContainer {
    p {
      margin: 0px 10px 0px 10px;
    }
  }
}
@media (max-width: 400px) {
  .heroContainer {
    p {
      margin-top: 20px;
    }
    form {
      .inputContainer {
        margin-right: 15px;
        margin-left: 15px;
        .emailField,
        .nameField {
          width: 280px;
        }
      }
    }
  }
}
